.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

@keyframes line-expand {
  from {
    width: 0%;
  }
  
  to {
    width: 100%;
  }
}

.title {
  background-color: rgba(255, 255, 255, 0.85);
  display: inline;
}

.subtitle {
  font-weight: 500;
  background-color:rgba(255, 255, 255, 0.85);
  display: inline;
}


.button-container {
  display: flex;
}

.d-grid {
  img {
    transition: all .25s ease-in-out;
  }
  img:hover {
    transform: scale(1.025);
  }
}

.body {
  font-weight: 500;
}

.navbar-title{
  font-weight: 500;
}