/*-- scss:defaults --*/

// font

$font-family-sans-serif: "Libre Franklin" !default;

$headings-font-family: "Jost" !default;
$headings-font-weight: 500 !default;

$navbar-font-family: "Jost" !default;
$toc-font-family: "Jost" !default;
$footer-font-family: "Jost" !default;

$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" !default;

@if $web-font-path {
    @import url($web-font-path);
}

// Base document colors
$body-bg: #ffffff;
$body-color: #000000;
$link-color: #DE3163;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;

.btn {
  padding: 0.5em 0.5em;
  border-radius: 25px;
  margin: 0;
}

/*
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #6c757d !important;
  color: #ffffff !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #DE3163 !important;
  color: #ffffff !important;
}
*/

.navbar {
  font-family: $navbar-font-family;
  font-weight: 500;
}

// navbar title animation

.icon-line {
  display: block;
  background: $link-color;
  width: 100%;
  height: 4px;
  margin: auto;
  display: table;
  margin-top: -3px;
  margin-bottom: -3px;
}

// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $link-color;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}


